.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: var(--color-primary);
  z-index: 1;
}

.footer__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;
}
