.header {
  position: fixed;
  top: 0;
  z-index: 100;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
}

.header__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

@media (min-width: 600px) {
  .header {
    height: 90px;
  }

  .header__title {
    font-size: 1.75rem;
  }
}

@media (min-width: 900px) {
  .header {
    height: 100px;
  }
  .header__title {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .header__title {
    font-size: 2.25rem;
  }
}
