button {
  background-color: var(--color-accent);
  color: var(--color-text-header);
}

.quiz {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 600px) {
}

@media (min-width: 900px) {
}

@media (min-width: 1200px) {
}
